{% set classes = [
  'block',
  'block-artist-information' ~ configuration.provider|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
  {% block artist %}
    {% if artist %}
      <div class="image">
        <img src="{{ artist.images[1].url }}" alt="artist.name">
      </div>
      <div class="name">
        Full name: <strong>{{ artist.name }}</strong>
      </div>
      <div class="popularity">
        Popularity: <strong>{{ artist.popularity }}</strong>
      </div>
      <div class="followers">
        Followers: <strong>{{ artist.followers.total }}</strong>
      </div>
      <a href="https://open.spotify.com/artist/{{ artist.id }}" target="_blank">Read more</a>
    {% endif %}
  {% endblock %}
</div>
