{% set classes = [
  'block',
  'block-artists' ~ configuration.provider|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% if artists %}
      {% for artist in artists.artists %}
        <div>
          <a href="/artist/{{ artist.id }}">{{ artist.name }}</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endblock %}
</div>
